body{
  background: #000;
  color: white;
}
.img{
  width: auto;
  height: 500px;
}
.imagen{
  width: 250px;
  height: 350px;
  float: none;
}
.imagen1{
  width: 350px;
  height: 350px;
  float: none;
}
.card1{
  background-color: #ffbd59;
}
